<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Devops</title>
    <link rel="stylesheet" href="/static/css/semantic.min.css">
    <link integrity="" rel="stylesheet" href="/static/css/vendor.css">
    <link integrity="" rel="stylesheet" href="/static/css/ember-app-espire.css">
</head>
<body id="ember-testing" >
    <script src="/static/js/vendor.js"></script>
    <script src="/static/js/semantic.min.js"></script>
    <script src="/static/js/ember-app-espire.js"></script>
    <script src="/static/js/tablesort.js"></script>
</body>
</html>